@import url('https://fonts.googleapis.com/css?family=Montserrat');
html,body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat'; 
}

a{
    text-decoration: none;
    color: rgb(112, 134, 133);
}

/* container styling */
.container{
    margin: 1rem;
}

/* header styling */
header{
    text-align: center;
    background-color: #253237;
    color: #fff;
    padding: 2rem;
}

.top .title{
    font-size: 2rem;
    padding: 1rem;
}

.loc span{
    font-weight: 600;
}

/* main styling */

.main{
    text-align: center;
    display:flex;
    flex-direction: column;

    align-items: center;
}

/* hr-sum */
.hr-sum{
    border: 1px solid rgb(180, 176, 176);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 4px;
}

.hr-sum-h{
    font-weight: 600;
    padding-bottom: .5rem;
}

/* current */

.current-box{
    border: 1px solid rgb(180, 176, 176);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 4px;
}

.current-box .title{
    font-weight: 600;
    padding-bottom: 5px;
}

.current{
    display: flex;
    align-items: center;
}

.data{
    text-align: left;
    line-height: 1.4rem;
    padding: 0 1.5rem;
}

.graphic img{
    width: 60px;
    padding: .5rem;
}

/* hr-forecast styling */

.see-hr{
    border: 1px solid #a0acb1;
    border-radius: 4px;
    padding: .8rem;
    cursor: pointer;
}

.see-hr:hover{
    background: #ced2d4;
    color: #fff;
}

.hr-forecast-title{
    font-weight: 600;
    margin-bottom: .5rem;
}

.hr-stack{
    padding-bottom: 0.3rem;
    display: none;
}

.arrow-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.arrow-box > div > img{
    width: 30px;
    display: block;
    margin: auto auto;
}

.arrow-box > div{
    margin: .5rem;
    padding: .7rem;
    border: 1px solid #fff;
    border-radius: 8px;
    cursor: pointer;
}

.arrow-box div:hover{
    border: 1px solid #8b8f91;

}

.hr-forecast-time{
    border: 1px solid #8f9496;
    border-radius: 4px;
    width: 160px;
    padding: .4rem;
    margin: .5rem auto;
}

/* da-sum */

.da-sum{
    border: 1px solid rgb(180, 176, 176);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 4px;
}

.da-sum-h{
    font-weight: 600;
    padding-bottom: .5rem;
}

/* footer styling */
footer{
    background-color: #253237;
    text-align: center;
    color: #fff;
    padding: 2rem;
    line-height: 1.5rem;
}

.credit{
    color:rgb(136, 142, 148);
}

/* searchbox styling */

.searchbox{
    padding: .5rem;
    border: 2px solid rgb(175, 171, 171);
    border-radius: 7px;
    margin: .8rem;
    font-size: .9rem;
    outline: none;
    width: 240px;
}

.searchbox:focus{
    border-color: #29aaeb;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search > img{
    width: 30px;
    height: 30px;
    margin-left: -.5rem;
}

/* responsive styling */
@media (max-width: 800px){

    .container{
        margin: 1rem;
        margin-top: 2rem;
    }

    .graphic{
        order: -1;
        margin-bottom: 10px;
    }

    .current{
        display: flex;
        flex-direction: column;
    }

    .place{
        padding-top: .5rem;
        display: block;
    }

    .latlong{
        display: block;
    }

    .searchbox{
        width: 200px;
    }
}