@import url('https://fonts.googleapis.com/css?family=Montserrat');
html,body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat'; 
}

a{
    text-decoration: none;
    color: rgb(112, 134, 133);
}

/* container styling */
.container{
    margin: 1rem;
}

/* header styling */
header{
    text-align: center;
    background-color: #253237;
    color: #fff;
    padding: 2rem;
}

.top .title{
    font-size: 2rem;
    padding: 1rem;
}

.loc span{
    font-weight: 600;
}

/* main styling */

.main{
    text-align: center;
    display:flex;
    flex-direction: column;

    align-items: center;
}

/* hr-sum */
.hr-sum{
    border: 1px solid rgb(180, 176, 176);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 4px;
}

.hr-sum-h{
    font-weight: 600;
    padding-bottom: .5rem;
}

/* current */

.current-box{
    border: 1px solid rgb(180, 176, 176);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 4px;
}

.current-box .title{
    font-weight: 600;
    padding-bottom: 5px;
}

.current{
    display: flex;
    align-items: center;
}

.data{
    text-align: left;
    line-height: 1.4rem;
    padding: 0 1.5rem;
}

.graphic img{
    width: 60px;
    padding: .5rem;
}

/* da-sum */

.da-sum{
    border: 1px solid rgb(180, 176, 176);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 4px;
}

.da-sum-h{
    font-weight: 600;
    padding-bottom: .5rem;
}

/* footer styling */
footer{
    background-color: #253237;
    text-align: center;
    color: #fff;
    padding: 2rem;
    line-height: 1.5rem;
}

.credit{
    color:rgb(136, 142, 148);
}

/* responsive styling */
@media (max-width: 800px){

    .container{
        margin: 1rem;
        margin-top: 2rem;
    }

    .graphic{
        order: -1;
        margin-bottom: 10px;
    }

    .current{
        display: flex;
        flex-direction: column;
    }
}